
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.test{
     
        display: flex;
        align-items: center;
        color: #333;
        text-decoration: none;
        text-align: left;
        font-family: Proxima-Nova,sans-serif;
        background-size: 30px auto;
        background-repeat: no-repeat;
        background-position: 18px;
        position: relative;
        line-height: 20px;
        padding: 15px 0;
        font-size: 16px;
    
}


span {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }

.column {
    float: left;
    width: 30%;
}




.pos{
    padding-left: 0%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
    
}

.box_brand {
    height:30%;
    width:20%;
    background-color: aliceblue;
   
   
    border:1px solid red;
    border-radius:6px;

}




.card1 {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container1 {
    padding: 2px 16px;
}


.text_link{
    float: right; 
    margin-right: 300px; 
    color: rgb(255, 255, 255);  
    margin-top: 17px;
}

.text_cover{
    float: right; 
    margin-right: 50px; 
    margin-top: -60px;
}

@media (min-width:300px) and (max-width:1040px) {
    .text_link{
        float: right; 
        margin-right: 176px; 
        color: rgb(255, 255, 255);  
        margin-top: 5px;
        font-size: 30px;
    }
   
        .card1 {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 90%;
            border-radius: 5px;
        }
        
        .card1:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .text_link{
            font-size: 100%;
            margin-right: 10px;
            margin-top: 29px;
        }
        .text_cover{
            float: right; 
            margin-right: 10px; 
            margin-top: -110px;
        }

    
}