

h1{
  font-family: 'Open Sans', sans-serif;

font-size: 30px;
font-weight: 400px;
}
/* demo контейнер */
.demo {
  max-width: 6000px;
  padding: 0 10px;
  margin: 5% 10%;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
  display: none;
  
  
}
/* вид текста label */
.hide + label {
  margin: 0;
  padding: 2;
  color: rgb(0, 0, 0);
  cursor: pointer;
 
  
   
   
  
}
/* вид текста label при активном переключателе */
.hide:checked + label {
  
  color: rgb(0, 0, 0);
  border-bottom: 0;
  border-radius: 80px;
  transition: 2s;
}
/* когда чекбокс активен показываем блоки с содержанием  */




.hide:checked + label + div {
  

  width: 100%;
  
  
  border-radius: 6px;
  
  /* чуточку анимации при появлении */
/* 
  -webkit-animation:fade ease-in 0.5s; 
   -moz-animation:fade ease-in 0.9s;
   animation:fade ease-in 0.5s; 
   */
}



/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
  
  from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fade {
  from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fade {
  from { opacity: 0; }
to { opacity: 1 }   
}
.hide + label:before {
  background-color: #000000;
  color: #fff;
  display: block;
  float: left;
  font-size: 14px; 
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin: 3px 5px;
  text-align: center;
  width: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
}

.font{
  color: rgb(255, 255, 255);
  max-width: 900px;
  padding: 0 49px;
  margin: 5% 10%;


  font-size: 70px;
  transition: 2s;
  font-family: 'Oswald', sans-serif;
  
  padding: 0px 7px;
  


}
.font:hover{
  color: rgb(165, 165, 165);
}

p{
  font-size: 20px; font-family: 'Hind Siliguri', sans-serif;
}

@media (min-width:300px) and (max-width:1040px) {
  .font{
    
    color: rgb(255, 255, 255);

      max-width: 900px;
  padding: 0 0px;
  margin: 5% 10%;
  font-size: 60px;
  
  font-family: 'Oswald', sans-serif;
  
  
}
.font:hover{
  color: rgb(165, 165, 165);
}
}
