
*::-webkit-scrollbar {
    width: 7px;
    
  
  }
  
  *::-webkit-scrollbar-track {
    background: #222222;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 16px;
    border: 3px solid #5c5c5c;
  }