
.containers{
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.a{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 30%;
    text-align: center;
    transition: 1s;
}

.a i {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top: 30px;
}

.a:hover{
    background-color: #ff00006c;
    
}
.a:hover i {
    color: black;
    transform: scale(1.3);
    
}


@media (min-width:300px) and (max-width:1040px) {
    
    .containers{
        position: absolute;
        top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .a{
        display: inline-block;
        height: 70px;
        width: 70px;
        background-color: rgb(199, 199, 199);
        margin: 10px;
        border-radius: 30%;
        text-align: center;
    }
    
    .a i {
        color: rgb(0, 0, 0);
        font-size: 40px;
        margin-top: 19px;
    }
    
    .a:hover{
        background-color: #520101;
        transition: 1s;
    }
    .a:hover i {
        color: black;
        transform: scale(1.3);
    }

}